.linkContainer {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-left: -1rem;
  padding: 3px 5px 3px 0;
}

.linkContainer:hover {
  background: #f8f8f8;
}

.linkContainer button {
  width: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.linkContainer button:hover {
  background: none;
}

.linkContainer button:before {
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 20 20"><path fill="rgba(0,0,0,0.3)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  background-repeat: no-repeat;
  margin-left: 0;
}

.linkItem {
  height: 21px;
  padding: 0;
}
