/*
Hide color mode toggle in small viewports
 */

.navbar__inner {
  max-width: 1440px;
  width: 100%;
}

.login {
  color: #4C555A;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  line-height: 0.525rem;
  display: flex;
  margin-top: -1px;
}

.login:hover {
  border: 1px solid rgba(0,0,0,0.1);
  color: #4C555A;
  text-decoration: none;
  margin-right: -1px;
}

@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}
